.App {
    max-width: 800px;
    margin: 100px auto;
    padding: 35px;
    background-color: var(--brand-color);
    color: var(--dark-color);
    border: 10px solid var(--light-color);
}

.title {
    display: block;
    font-size: 30px;
    margin: 30px 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.header {
    background-color: var(--dark-color);
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    color: var(--brand-color);
    text-transform: uppercase;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}

.game,
.login {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    margin: 25px 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.col {
    width: 150px;
    height: 150px;
    padding: 0 15px;
}

.artist {
    border: 10px solid white;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.artist:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.artist-info {
    font-family: 'Press Start 2P', cursive;
    padding: 15px 5px;
    background-color: var(--light-color);
    color: var(--dark-color);
    text-align: center;
}

.artist-name {
    text-transform: uppercase;
}

.artist .cover {
    height: 225px;
    width: 100%;
}


.button {
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.button--primary {
    font-size: 25px;
    width: 100%;
    padding: 15px 10px;
    text-decoration: none;
    background-color: var(--dark-color);
    color: var(--brand-color);
    box-shadow: 0 10px 0 rgb(0, 0, 0);
    transition: all 0.2s;
}

.button--primary:hover {
    transform: translateY(10px);
    box-shadow: 0 0 0 rgb(0, 0, 0);
    color: white;
}

.button--icon {
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    color: var(--brand-color);
}


.form {
    position: relative;
    width: 100%;
}

.category {
    cursor: pointer;
    margin-bottom: 50px;
}

.category,
.search-input {
    width: 100%;
    background-color: var(--dark-color);
    border: 15px solid var(--light-color);
    padding: 15px;
    color: var(--light-color);
    outline: none;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.search-submit {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: var(--brand-color);
    box-shadow: 0 10px 0 #147035;
    transition: all 0.2s;
    color: var(--dark-color);
    padding: 10px;
    cursor: pointer;
}

.search-submit:hover {
    transform: translateY(10px);
    box-shadow: 0 0 0 #147035;
    color: var(--light-color);
}

.game-bar {
    background-color: var(--dark-color);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid var(--light-color);
    color: var(--light-color);
    font-size: 22px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

.select-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}